.git
.gitignore
.idea
.vscode

.data
.nuxt
.output
node_modules
coverage
dist
backups

.env
.env.*
!.env.example

*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
Dockerfile*
compose*.yaml
compose*.yml
